<%- include("partials/header") %>
<div class="container">
  <h1>Compose</h1>

  <form action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="postTitle" />
    </div>
    <div class="form-group">
      <label>Post</label>
      <textarea
        name="postBody"
        cols="100"
        rows="6"
        class="form-control"
      ></textarea>
    </div>

    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </form>
</div>
<%- include("partials/footer") %>
